h1{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
    text-shadow: -5px 5px 5px gray; 
}

h3{
    text-align: center;
}

#texts{
    font-size: x-large;
    border-style: double;
    border-width: 30px;
    border-color: blue;
    border-radius: 100px;
    background-color: aqua;
    text-align: center;
}

header{
    text-align: center;
}

#tabletime{
    display: flex;
    justify-content: center;
}

#formtest{
    margin: 50px;
    display: flex;
    justify-content: center;
}


#formborder{
    border-style: double;
    padding: 15px;
}

#anhny{
    display: flex;
    justify-content: center;
    
}

#audio{
    display: flex;
    justify-content: center;
    margin: 50px;
}

#video{
    display: flex;
    justify-content: center;
    margin: 50px;
}