*{
    margin: 0px;
    box-sizing: border-box;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: -5px 5px 5px gray;
}

h3 {
    text-align: center;
}

#texts {
    font-size: x-large;
    border-style: double;
    border-width: 30px;
    border-color: blue;
    border-radius: 100px;
    background-color: aqua;
    text-align: center;
}

header {
    text-align: center;
    background-image: url(img/background.jpg);
    background-size: cover;
}



#tabletime {
    display: flex;
    justify-content: center;
}

#formtest {
    margin: 50px;
    display: flex;
    justify-content: center;
}


#formborder {
    border-style: double;
    padding: 15px;
}

#anhny {
    display: flex;
    justify-content: center;

}

#audio {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#video {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#messenger{
    height: 100px;
    position:sticky;
    top: 0;

}

#googlebutton:hover{
    font-size: 1.1em;
    color: crimson;
    background-color: aquamarine;
    cursor: pointer;
}

#googlebutton:active{
    font-size: 1.1em;
    color: white;
    background-color: blue;
}

.buttondiv{
    display: flex;
    justify-content: space-evenly;
    border: 5px solid;
    width: 20%;
    height: 300px;
    margin: 20px 600px;
}

.buttondiv button{
    padding: 50px;
    height: 100px;
    width: 50px;
    border-radius: 100%;
}

#buttonblack:hover{
    padding: 55px;
    border-radius: 100%;
    background-color: black;
    color: black;
}

#buttonwhite:hover{
    padding: 55px;
    border-radius: 100%;
    background-color: white;
    color: white;
}

.buttondiv img{
    display: none;
}

.buttondiv:active img{
    display:block ;
}

.buttondiv:active button{
    display:none ;
}



.page{
    text-align: center;
    align-items: flex-end;
}

.page a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20%;
}

.page a.active{
    font-size: 1.5em;
    background-color: red;
    font-weight: bold;
}


.page a:hover:not(.active){
    background-color: gray;
}

html{
    scroll-behavior: smooth;
}

#cometobottom{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#cometobottom button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#cometobottom button:hover{
    background-color: brown;
}

#cometotop{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#cometotop button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#cometotop button:hover{
    background-color: brown;
}

.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: rgb(208, 231, 250);
    border: none;
    padding: 20px 25px;
    cursor: pointer;
}

.dropdown button:hover{
    background-color: rgb(100, 179, 248);
}

.dropdown a{
    display: block;
    text-decoration: none;
    padding: 20px 25px;
}

.dropdown a:hover{
    background-color: rgb(127, 155, 180);
}

.dropdown .content{
    background-color: rgb(199, 215, 230);
    position: absolute;
    display: none;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content{
    display: block; 
}

.navbar ul{
    padding: 0px;
    list-style-type: none;
    background-color: rgb(83, 83, 83);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
}

.navbar a:hover{
    background-color: gray;
}

.navbar li{
    float: left;
}
